<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qual animal sou eu?</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <img src="static/img/logo.png" alt="logo">
        <a href="/"><h1>Qual Pato sou eu?</h1></a>
    </header>
    <main>
        <div class="container">
            <div class="animal">
                {% if not url_img %}
                    <img src="..." alt="...">
                {% else %}
                    <img src="{{ url_img }}" alt="Pato">
                {% endif %}
                {% if erro %}
                    <p>{{ erro }}</p>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por Ana Paula</p>
    </footer>
</body>
</html>