<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qual animal sou eu?</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <img src="static/img/logo.png" alt="logo">
        <h1>Qual animal sou eu?</h1>
    </header>
    <main>
        <div id="fundo">
        <div class="container">
            <div class="form">
                <form action="/" method="post">
                    <label>Escolha uma opção:</label>
                    <select name="escolha">
                        <option value="cat">Gato</option>
                        <option value="dog">Cachorro</option>
                        <option value="duck">Pato</option>
                        <option value="fox">Raposa</option>
                    </select>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    </main>
    <footer>
        <p>Desenvolvido por Ana Paula</p>
    </footer>
</body>
</html>